#icon{
  
    float: left;
}

.search{
  margin-left: 6px;
  background: rgb(224, 224, 224);
}

.searchIcon{
  padding: 1px;


}

.container{
    position: absolute;
    top: 10px;
    right: 30px;
    background-color: white;
}
